

body{
    background-image:url('background.jpg');
    margin-left: 8%;
    margin-right: 8%;
    padding: 1%;
    font-family: 'EBGaramond-VariableFont_wght.ttf', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    position: relative;
    text-align: center;
    margin-bottom: 2em;
    margin-right: 10% ;
    margin-left: 10% ;
    border-radius: 100px;
    font-size: 25px;
    background-color: lightyellow ;

}

#cartoon_logo{
    position: absolute;
    display: block;
    border: 2px solid black;    
    border-radius: 200px;
    padding: 2%;
    right: 200px;
}
#cartoon_logo_two{
    position: absolute;
    display: block;
    border: 2px solid black;    
    left: 200px;
    border-radius: 100px;
    padding: 2%;
}

main{
    display: block;
    position: relative;
    text-align: center  ;
    background-color: lightyellow;
    border-radius: 100px;


}

#intro {
    display: block;
    text-align: left;
    margin-top: 20%;
    font-size: 20px;
    margin: 6em;
    page-break-inside: auto;  
    background-color: lightyellow;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
}


#intro h2{
    border: 2px solid black;    
    display: block;
    height: 25px;
    margin-right: 5%;
    padding: 5%;
    float: left;
}

#sectionHeader{
    display: block;
    border: 2px solid black;    
    margin: 2em;
    height: 20px;
    font-size: 40px;
    padding-bottom: 1em;
}

#ambrose_picture{
    position: absolute;
    left: 3%;
    top: 36%;
    border: 1px black;
    border-radius: 100px;
}

#ambrose{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

#polly_picture{
    position: absolute;
    right:  3%;
    top: 58%;
    border: 1px black;
    border-radius: 100px;
}

#polly{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%; 


}

#ralph_picture{
    position: absolute;
    left: 3%;
    bottom: 5%  ;
    border: 1px rgb(230, 138, 138);
    border-radius: 100px;
}

#ralph{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    padding-bottom: 1em;
    border-bottom: 3px transparent;

}

article p{
    padding: 2%;
    font-size: 20px;
    text-indent: 10px;
    margin: 4%;
}

article{
    border-bottom: 3px dashed;
    
}

article h3{
    font-size: 40px;
    font-style: oblique;
    text-decoration: underline;
    text-indent: 10px;
}

footer{
    text-align: center;
    margin-bottom: 4em;
    margin-right: 10% ;
    margin-left: 10% ;
    border-radius: 100px;
    background-color: lightyellow;

}

b{
    font-style: italic;
    color: lightseagreen;
}

