@font-face {
    font-family: "Retro Computer";
    src: url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.eot");
    src: url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/4398a39f4d9a1593b725e0dc594c77fe.svg#Retro Computer")format("svg");
}

html {
    font-family: "Retro Computer";
}
